{
	"extends": [
		"oclif",
		"oclif-typescript"
	],
	"rules": {
		"unicorn/no-useless-spread": "off",
		"unicorn/no-array-for-each": "off",
		"unicorn/no-array-reduce": "off",
		"unicorn/prefer-array-some": "off",
		"unicorn/no-process-exit": "off",
		"brace-style": "off",
		"quotes": "off",
		"indent": "off",
		"no-tabs": "off",
		"no-process-exit": "off",
		"semi": [
			"error",
			"always"
		],
		"object-curly-spacing": [
			"error",
			"always"
		],
		"array-bracket-spacing": [
			"error",
			"always"
		],
		"key-spacing": "off",
		"no-mixed-spaces-and-tabs": "off",
		"operator-linebreak": "off",
		"arrow-parens": [
			"error",
			"always"
		],
		"camelcase": "off",
		"no-trailing-spaces": "off",
		"no-negated-condition": "off"
	},
	"ignorePatterns": [
		"dist/**/*",
		"bin/**/*"
	]
}
